/*loading my background found this structure on mdm to help the background adjust to different screen size*/
body{
    background-image: url(./src/newer\ background.jpeg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*Headings for container
night need to adjust title due to background issues
remeber class is cool-container due to bootstrap issue*/
.cool-container{
    margin: 0 auto;
    text-align: center;
    color: white;
  }
  /*flex puts everything in a row 
  wrap for text to fix in container*/

  .flex-blackjack-row-1,
  .flex-blackjack-row-2,
  .flex-blackjack-row-3 {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }
  /*adding padding for the bottom buttons for hit features*/

  .flex-blackjack-row-2 div {
    padding: 10px;
    flex: 1;
    height: 350px;
    text-align: center;
  }
  
  /*adding contain for card images issue where they load big*/
  .flex-blackjack-row-2 div img {
    padding: 10px;
    object-fit: contain;
  }
  
  /*adding padding for the score colum and a white border to contrast background*/
  table,
  th,
  td {
    padding: 5px;
    border: 1px solid white;
    color: white;
    align-items: center;
    text-align: center;
  }
  /*adding extra space between buttons*/
  .flex-blackjack-row-3 div {
    padding: 10px;
  }
  
  .flex-blackjack-row-3 button {
    padding: 10px;
    margin-bottom: 10px;
  }
  
  /*add some color to the colum headers with the ids
  easier to ready instead of white*/
  #win-header {
    color: lightgreen;
  }
  
  #loss-header {
    color: red;
  }
  
  #draw-header {
    color: yellow;
  }
  