body{
    background-image: url(./src/background.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*Headings for container
night need to adjust title due to background issues*/
.cool-container{
    margin: 0 auto;
    text-align: center;
    color: white;
}
/*adding styles for flex boxes*/
.